/* Contact.css */
.contact-section {
  padding: 2rem 0;
  background-color: var(#0056b3);
}

.heading {
  text-align: center;
  font-size: 2.3rem;
  color: #CA3CFF;
  margin-bottom: 2rem;
}

.contact-section-container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.Contact {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.contact-con {
  flex-basis: 300px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
}

.glass-morphism-card {
  flex-basis: 300px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 20px;
  margin-bottom: 20px;
}

.about-part {
  flex-basis: calc(60% - 30px);
  padding: 20px;
  color: #000;
}

.Aboutheading {
  font-size: 2.1rem;
}

/* Form input styles */
.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  font-weight: bold;
  color: #000;
}

.input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  color: #271f30;
}

textarea {
  resize: vertical;
}

/* Button styles */
.btn {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #0056b3;
}

/* Social links */
.social-links-contact {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.social-link {
  color: #fff;
  font-size: 1.5rem;
  margin-right: 1rem;
}

/* Responsive Styles */
@media screen and (max-width: 768px) {
  .Contact {
    flex-direction: column;
    align-items: center;
  }

  .contact-con,
  .glass-morphism-card {
    flex-basis: 100%;
    margin-bottom: 20px;
  }
}
