.contact-section-container {
  width: 80%;
  margin: 0 auto; /* Center the container horizontally */
  padding: 20px; /* Add some padding for spacing */
}



.contact-section-container form {
  display: flex;
  flex-direction: column;
}

.form-group {
  margin-bottom: 20px; /* Add some vertical spacing between form groups */
}

.form-group label {
  color: #fff; /* Set the color of the label text */
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 5px;
}

.form-group textarea {
  resize: vertical; /* Allow vertical resizing for the textarea */
}

.btn {
  background-color: #fff;
  color: #258ea6;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.2s;
}

.btn:hover {
  background-color: #eee; /* Change the background color on hover */
}

.glass-morphism-card {
  background-color: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin-top: 20px; /* Add some spacing between the form and the card */
}

.glass-morphism-card h3 {
  color: #fff; /* Set the color of the card heading text */
}

.glass-morphism-card p {
  color: #fff; /* Set the color of the card text */
}
